[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
twine = "*"

[dev-packages]
rope = "*"
jedi = "*"
"autopep8" = "*"
importmagic = "*"
"flake8" = "*"
pytest = "*"
pytest-cov = "*"
coveralls = "*"
